<div class="card text-center">
  <!-- <div class="card-header">
    <br />
    <br />
    <br />
    <br />
    <h1 class="mt-5">Módulo de administración</h1>
  </div> -->
  <div class="card-body">
    <h5 class="card-title">
      <br />
      <br />
      <br />
      <br />
      <h1 class="mt-5 text-warning">Módulo de administración</h1>
    </h5>
    <p class="card-text">
      With supporting text below as a natural lead-in to additional content.
    </p>
    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->

    <div class="mb-3 form-group">
      <label for="exampleFormControlInput1" class="form-label"
        >Email address</label
      >
      <input
        type="email"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="name@example.com"
      />
    </div>

    <div class="mb-3 form-group">
      <label for="exampleFormControlInput1" class="form-label"
        >Contrase&ntilde;a</label
      >
      <input
        type="password"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="ingrese contraseña"
      />
    </div>

    <div class="mb-3 form-group">
      <label for="exampleFormControlInput1" class="form-label">Empresa</label>
      <select class="form-control" name="" id="">
        <option value="">MOVISTAR</option>
        <option value="">ENTEL</option>
        <option value="">ADUANAS</option>
      </select>
    </div>

    <div class="mb-3 form-group">
      <label for="exampleFormControlInput1" class="form-label"
        >Sede/Local</label
      >
      <select class="form-control" name="" id="">
        <option value="">LIMA</option>
        <option value="">CAÑETE</option>
        <option value="">AREQUIPA</option>
      </select>
    </div>

    <div class="row">
      <div class="col">
        <a href="">Recuperar contraseña</a>
      </div>

      <div class="col d-grid gap-2">
        <button class="btn btn-xxl btn-outline-success" (click)="onLogin()">
          Iniciar sesión
        </button>
      </div>
    </div>
  </div>
  <div class="card-footer text-muted">2 days ago</div>
</div>
