<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item ml-1 dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Dashboard
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a
                class="dropdown-item"
                [routerLink]="['/admin/home']"
                routerLinkActive="active"
                >Inicio</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                [routerLink]="['/admin/quotes']"
                routerLinkActive="active"
                >Cistas</a
              >
            </li>
          </ul>
        </li>

        <li class="nav-item ml-1">
          <a class="nav-link" href="#">Citas</a>
        </li>

        <li class="nav-item ml-1 dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Configuración
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a
                class="dropdown-item"
                [routerLink]="['/configuration/lista-documentos']"
                routerLinkActive="active"
                >Ver tipos de documento</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                [routerLink]="['/configuration/nuevo']"
                routerLinkActive="active"
                >Crear nuevo</a
              >
            </li>
          </ul>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li> -->
      </ul>
      <form class="d-flex" role="search">
        <!-- <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        /> -->

        <button class="btn btn-clear" type="button">
          <img src="./assets/svg/user.svg" alt="" />
          <!-- <br /> -->
          Mi Perfil
        </button>
      </form>
    </div>
  </div>
</nav>
