<h1 class="text-success">Crear tipo de documento</h1>

<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col col-md-6 col-sm-12">
        <div class="form-group">
          <label for=""> Código </label>
          <input
            type="text"
            class="form-control"
            placeholder="Autogenerado"
            readonly
          />
        </div>
      </div>

      <div class="col col-md-6 col-sm-12">
        <div class="form-group">
          <label for=""> Nombre </label>
          <input type="text" class="form-control" placeholder="Autogenerado" />
        </div>
      </div>

      <div class="col col-md-6 col-sm-12">
        <div class="form-group">
          <label for=""> Tipo recurso </label>
          <input type="text" class="form-control" placeholder="Autogenerado" />
        </div>
      </div>

      <div class="col col-md-6 col-sm-12">
        <div class="form-group">
          <label for=""> Estado </label>
          <select name="" id="" class="form-control">
            <option value="">Activo</option>
            <option value="">Inactivo</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
<br />

<div class="row pb-1">
  <div class="col-10"></div>
  <div class="col-2 text-right">
    <button class="btn btn-outline btn-outline-default">+ Añadir campo</button>
  </div>
</div>
<table class="table">
  <thead class="table-success table-bordered">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Código</th>
      <th scope="col">Nombre</th>
      <th scope="col" [width]="20">Obligatorio</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of [1, 1, 1, 1, 1]; let i = index">
      <th scope="row">
        <input class="form-check-input" type="checkbox" value="" />
      </th>
      <td>LSEN{{ i + 1 | number: "2.0" }}</td>
      <td>Documento de identificación</td>
      <td class="text-center">
        <input class="form-check-input" type="checkbox" value="" />
      </td>
    </tr>
  </tbody>
</table>

<div class="row pt-2">
  <div class="col-10"></div>
  <div class="col-2">
    <button class="btn btn-outline pr-1">Cancelar</button>

    <button class="btn btn-success pl-2" (click)="onSubmit()">Guardar</button>
  </div>
</div>
